<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xr.dao.ClazzMapper">

    <!--询所有班级信息-->
    <select id="findClazzs" resultMap="clazzMap">
        SELECT
          c.cid,
          c.name,
          c.code,
          s.sid,
          s.name as sname,
          s.sex,
          s.age
         FROM T_CLAZZ c, T_STUDENT s
    </select>
    
    <resultMap id="clazzMap" type="Clazz">
        <!--配置主键-->
        <id property="cid" column="CID"></id>
        <result property="code" column="CODE"></result>
        <result property="name" column="NAME"></result>

        <collection property="studentList" ofType="Student">
            <id property="sid" column="SID"></id>
            <result property="name" column="SNAME"></result>
            <result property="sex" column="SEX"></result>
            <result property="age" column="AGE"></result>
        </collection>
    </resultMap>

</mapper>
